# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/
apps/api/src/generated/
*.tsbuildinfo

# Coverage
coverage/

# Environment secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Docker
.docker/

# Misc
.turbo/
.vercel/
.pnpm-store/
dump.rdb
